<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="DEV_HOME" value="/tmp" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE-LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/xiIntegrate.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/xiIntegrate.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>
    <logger name="java.rmi" level="TRACE" />
    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="org.apache.activemq" level="TRACE"/>
    <logger name="org.apache.camel" level="TRACE"/>
    <logger name="akka.camel" level="TRACE"/>
    <logger name="akka" level="TRACE" />
    <logger name="carnival.trident.xiintegrate.test" level="TRACE" />
    <logger name="ingest.VoyageXmlFileTransformer" level="ERROR"/>
    <logger name="adaptor.activemq.ExcursionAdaptor" level="DEBUG"/>
    <logger name="carnival.trident.xiintegrate.test.XiCommerceMock" level="DEBUG" />
    <logger name="carnival.trident.xiintegrate.test.ExcursionAdaptorSpecification" level="DEBUG" />
    <logger name="carnival.trident.xiintegrate.xml.BookingXmlFileTransformer" level="ERROR"/>
    <logger name="carnival.trident.xiintegrate.processors.CabinXmlFileTransformer" level="ERROR"/>
    <logger name="carnival.trident.xiintegrate.processors.BookingProcessor" level="ERROR" />
    <logger name="carnival.trident.xiintegrate.processors.MasterFileWatcher" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-LOG" />
    </root>

    <!-- Send logs to both console and file logger -->
    <logger name="carnival.trident.file" level="INFO"
            additivity="false">
        <appender-ref ref="FILE-LOG" />
    </logger>

    <logger name="carnival.trident.console" level="INFO"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


</configuration>